<header class="container">
  <p>heder</p>
  <!-- <div>
    <a href=""><svg  width="45" height="35">
        <use href="./img/icon.svg#icon-logo-mob"></use>
      </svg></a>
    <a href=""><svg width="45" height="35">
        <use href="./img/icon.svg#icon-logo-big"></use>
      </svg></a>

    </svg></a>

    <nav>
      <ul >
        <li><a href="#anemone">Anemone</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#store">Store</a></li>
        <li><a href="#delivery">Delivery</a></li>
        <li><a href="#blog">Blog</a></li>
      </ul>
    </nav>

    <div><a href="tel">
      <svg class="header-tel_icon" width="20" height="20">
          <use href="./img/icon.svg#icon-tel-mobile"></use>
        </svg></a>
    </div> -->
    <!-- burger menu -->

    <!-- <button type="button">
      <svg width="24" height="24">
        <use href="./img/icon.svg#icon-burger"></use>
      </svg>
    </button>
  </div> -->

  <!-- <div id="mobile-menu">
    <button type="button">
      <svg width="24" height="24">
        <use href="./img/icon.svg#icon-x"></use>
      </svg>
    </button>
    <nav>
      <ul>
        <li><a href="#anemone">Anemone</a>
        </li>
        <li ><a href="#about">About us</a>
        </li>
        <li><a href="#store">Store</a>
        </li>
        <li><a href="#delivery">Delivery</a>
        </li>
        <li><a href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div> -->
</header>